<h1>Edit artikel</h1>

<% if @artikel.errors.any?%>
  <h2> The following errors prevented the artikel from being saved </h2>
  <ul>
  <% @artikel.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <%end%>
  </ul>
<%end%>

<%= form_with(model: @artikel, local: true) do |f| %>

  <p>
    <%= f.label :title%> <br/>
    <%= f.text_field :title%>
  </p>

  <p>
    <%= f.label :description%> <br/>
    <%= f.text_area :description%>
  </p>

  <p>
    <%= f.submit%>
  </p>
<%end%>