<%= form_with(model: @user, local: true) do |f| %>
<div class="container justify-content-center" id="note">
    <%= render "shared/errors", obj: @user %>
    </br>
    <div class="form-group row text-center mt-4 text-black fw-bolder">
        <%= f.label :username, class: "col-2 col-form-label" %> 
        <div class="col-5">
            <%= f.text_field :username, class: "form-control", placeholder: "Enter a username." %>
        </div>
    </div>
    <br>    
    <div class="form-group row text-center mt-4 text-black fw-bolder">
        <%= f.label :email, class: "col-2 col-form-label" %> 
        <div class="col-5">
            <%= f.email_field :email, class: "form-control", placeholder: "Enter your email adress."  %>
        </div>
    </div>

    <div class="form-group row text-center mt-4 text-black fw-bolder">
        <%= f.label :password, class: "col-2 col-form-label" %> 
        <div class="col-5">
            <%= f.password_field :password, class: "form-control", placeholder: "Enter your password."  %>
        </div>
    </div>
    <br>
    <div class="form-group">
        <%= f.submit(@user.new_record? ? "Sign up": "Update account", class: "btn btn-outline-light btn-lg text-black") %> |
        <%= link_to "Back to artikels", artikels_path, class: "btn btn-outline-light btn-lg text-black" %> 
    </div>
    <br>
</div>
<%end%>