<% if obj.errors.any?%>
</br>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong> The following errors prevented the <%= obj.class.name.downcase %> from being saved </strong>  
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <ul>
        <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <%end%>
    </ul>
</div>
<%end%>