<%= form_with(model: @artikel, local: true) do |f| %>

<div class="container justify-content-center" id="note">
  <%= render "shared/errors", obj: @artikel %>
  </br>
  <div class="form-group row text-center mt-4 text-black fw-bolder">
    <%= f.label :title, class: "col-2 col-form-label" %> 
    <div class="col-5">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <br>

  <div class="form-group row text-center mt-4 text-black fw-bolder">
    <%= f.label :description, class: "col-2 col-form-label" %> 
    <div class="col-5">
      <%= f.text_area :description, rows: 10, class: "form-control" %>
    </div>
  </div>

  <br>

  <div class="form-group">
    <%= f.submit class: "btn btn-outline-light btn-lg text-black"%> |
    <%= link_to "Back to artikels", artikels_path, class: "btn btn-outline-light btn-lg text-black" %> |
    <%= link_to "Show this artikel", @artikel, class: "btn btn-outline-light btn-lg text-black" %> 
  </div>
  <br>
</div>

<%end%>