<h1 class="text-center mt-4 fst-italic text-white fw-bolder"> Artikels </h1>
<div class="container">
  <% @artikels.each do |artikel| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center">
          <div class="shadow bg-body rounded">
            <div class="card-header fst-italic" id="note">
              by <%= artikel.user.username%>
            </div>
            <div class="card-body" index="_body" id="note">
            <h5 class="card-title"> <%= link_to artikel.title, artikel_path(artikel), class: "text-success"%>  </h5>
              <p class="card-text" > <%= truncate(artikel.description, length: 20) %> </p>
                <button type="button" class="btn btn-outline-danger"> <%= link_to "Delete", artikel_path(artikel), method: :delete, data: { confirm: "Are you sure?"}, class: "text-danger" %> </button>
                <button type="button" class="btn btn-outline-primary"> <%= link_to "Show", artikel_path(artikel), class: "text-primary" %></button> 
                <button type="button" class="btn btn-outline-success"> <%= link_to "Edit", edit_artikel_path(artikel), class: "text-success" %></button> 
            </div>
            <div class="card-footer text-black" id="note">
              <small> Created <%= time_ago_in_words(artikel.created_at) %> ago |
                      Edited <%= time_ago_in_words(artikel.updated_at) %> ago </small>
            </div>
          </div>
        </div>
        </br>
      </div>
    </div>
  <%end%>
</div>