<h1 class="text-center mt-4 fst-italic text-white fw-bolder"> Showing Artikels </h1>
<div class="container justify-content-center">
  <div class="col-8 mt-4">
    <div class="card text-center">
      <div class="shadow bg-body rounded">
        <div class="card-header fst-italic" id="note">
          by <%= @artikel.user.username if @artikel.user%>
        </div>
        <div class="card-body" index="_body" id="note">
          <h5 class="card-title"> <%= @artikel.title %>   </h5>
            <p class="card-text" > <%= @artikel.description %>  </p>
              <%= button_to "Delete", artikel_path(@artikel), method: :delete, class: "text-danger" %>
            <button type="button" class="btn btn-outline-primary"> <%= link_to "Show", artikel_path(@artikel), class: "text-primary" %></button> 
            <button type="button" class="btn btn-outline-success"> <%= link_to "Edit", edit_artikel_path(@artikel), class: "text-success" %></button> 
        </div>
        <div class="card-footer text-black" id="note">
        <small> Created <%= time_ago_in_words(@artikel.created_at) %> ago |
                Edited <%= time_ago_in_words(@artikel.updated_at) %> ago </small>
        </div>
      </div>
    </div>
    </br>
  </div>
</div>