//@import "bootstrap";
  .navbar-brand {  
    font-size: 3rem;
  }
    
  h1 {  
    color: black;
  }

#note {
  background-image: asset-url("paper.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

html, body { height: 100%;}

._body {
  a{color:white !important
  }
}

#page-content {
  flex: 1 0 auto;
  background-image: asset-url("wood.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#footer{flex-shrink: none;
  background-image: asset-url("paper.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;}

#logo{
    float: left;
    font-size: 1.7em;
    color: gold;
    //text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 50px;
    background-image: asset-url("paper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}