<footer id="footer" class="d-flex flex-wrap justify-content-between align-items-center">
    <p class="col-md-4 mb-0 text-muted">&copy; <%= link_to "Aedify", "https://aedify.de/" %></p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"> <%= link_to "About", about_path %> </li>
    </ul>
</footer>