<div class="containter">
      <% flash.each do |name, msg| %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <%= msg %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      <% end %>
</div>